<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Referees</title>
    <link rel="stylesheet" th:href="@{'css/styles.css'}">

</head>
<body>
<header>
    <h1>TownLeague</h1>
</header>
<div class="navbar">
    <a href="/">Home</a>
    <a href="/web-referees">Referees</a>
    <a href="/web-stadiums">Stadiums</a>

    <div class="dropdown">
        <button class="dropbtn">Matches
            <i class="fa fa-caret-down"></i>
        </button>

        <div class="dropdown-content">
            <a href="/web-matches">Matches</a>
            <a href="/register-match" target="_blank">Add</a>
        </div>
    </div>

</div>


<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h3>Check our <span>Referees</span></h3>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <ul th:each="referees : ${referee}">
                        <li><p class="spa" th:text="${referees.name}">
                            <p class="spa" th:text="${referees.lastName}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        </div>

    </div>
</section>
</body>
</html>